@model CompanyManagement.Application.Employee.EmployeeDto

<h2>Create New Employee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.HiddenFor(model => model.CreatedDate, new { value = DateTime.Now })
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentId)
        @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.Departments, "Id", "Name"), "-- Select Department --", new { @class = "form-control" })

    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Create" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    </div>
}

