@using CompanyManagement.Application.Project.Commands;
@using CompanyManagement.Application.Project.Commands.CreateProject;
@model CompanyManagement.Application.Department.DepartmentDto

@{
	ViewData["Title"] = "Details";
}


<a asp-controller="Department" asp-action="Index" class="btn btn-link mb-1">
	<i class="bi bi-arrow-left-short align-middle fs-2"></i>
</a>

<div class="d-flex flex-row justify-content-between mt-2 text-light p-4 rounded-3" style="background-color: rgba(12, 151, 247, 1);
background-image: linear-gradient(0deg, rgba(12, 151, 247, 1) 0%, rgba(98, 183, 235, 1) 100%);">
	<div class="d-flex flex-column">
		<h6>Department</h6>
		<h1>@Model.Name</h1>
		<h3> @Html.DisplayFor(model => model.Description)</h3>
	</div>
	@if (Model.IsEditable)
	{
		<div class="d-flex flex-column">
			<a class="btn btn-outline-light" asp-controller="Department" asp-action="Edit" asp-route-Id="@Model.Id">
				<i class="bi bi-pencil-fill align-middle"></i> Edit
			</a>
		</div>
	}
</div>
<div class="d-flex flex-column flex-sm-row w-100 justify-content-between mb-4">
	<div class="mt-4 mr-2 p-4 border rounded project-container">
		<h4 class="" style="font-weight: 600;">Projects</h4>
		<partial name="CreateProject" model="new CreateProjectCommand() { DepartmentId = Model.Id }" />
		<div class="my-4">
			<div id="projects" class="column" data-id="@Model.Id"></div>
		</div>
	</div>
	<div class="mt-4 ml-4">
		<div class="border rounded p-4">
			<h4 class="" style="font-weight: 600;"> Department members</h4>
			@foreach (var employee in Model.Employees)
			{
				<p>@employee.FirstName @employee.LastName</p>
			}
		</div>
		
		
	</div>
</div>


<style>
	.project-container {
		width: 75%; 
	}
	@@media (max-width: 767px) {
		.project-container {
			width: 100%;
		}
}
</style>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		<script src="~/js/Department/Details.js"></script>
	}
}

