@using CompanyManagement.Application.ProjectTask.Commands;
@model CompanyManagement.Application.Project.ProjectDto


@{
	ViewData["Title"] = "Details";
}


<a asp-controller="Department" asp-action="Index" class="btn btn-link mb-1">
	<i class="bi bi-arrow-left-short align-middle fs-2"></i>
</a>
<div class="d-flex flex-row justify-content-between">
	<h4 class="fw-bold">@Model.Name</h4>
	<div>
		<a class="btn btn-outline-dark" asp-controller="Project" asp-action="Edit" asp-route-Id="@Model.Id">
			<i class="bi bi-pencil-fill align-middle"></i> Edit
		</a>
	</div>
</div>

<p class="my-4" style="font-size: 1.2rem; font-weight:400;">@Model.Description</p>

<div class="d-flex flex-row flex-wrap mb-4">
	<div class="d-flex flex-column border rounded p-4 m-2" style="width: 20rem;">
		<p class="text-uppercase">Status</p>
		<p style="font-size: 18px; font-weight:600;">@Model.Status</p>
	</div>
	<div class="d-flex flex-column border rounded p-4 m-2" style="width: 20rem;">
		<p class="text-uppercase">Actual Cost</p>
		<p style="font-size: 18px; font-weight:600;">@Model.ActualCost PLN</p>
	</div>
	<div class="d-flex flex-column border rounded p-4 m-2" style="width: 20rem;">
		<p class="text-uppercase">Project budget</p>
		<p style="font-size: 18px; font-weight:600;">@Model.Budget PLN</p>
	</div>
</div>

<div mt-4>
	<p style="font-size: 22px; font-weight:600;">Tasks</p>
</div>
<div>
	<partial name="_CreateProjectTask" model="new CreateProjectTaskCommand() {Id=Model.Id}" />
</div>
<div class="my-4">
	<div id="tasks" class="row flex-wrap" data-id="@Model.Id"></div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		<script src="~/js/Project/Details.js"></script>
	}
}
